.header {
  text-align: center;
  margin-bottom: 20px;

  button {
    background-color: #64B5F6;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    width: 200px;
    height: 40px;
  }
}