.pie {
  margin-bottom: 40px;
  &__charts {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }
}

.table {
  table {
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    text-align: left;
    tr {
      cursor: pointer;
      th {
        font-weight: normal;
      }
    }
  }
  &__first-column {
    background: #BBDEFB;
    font-size: 24px;
    height: 40px;
  }
  &__last-column {
    background: #BBDEFB;
    font-size: 24px;
    height: 40px;
  }
}